body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
    margin: 0 auto;
    width: 500px;
}
h1 {
    text-align: center;
    margin: 20px;
}
textarea {
    margin: 0 auto;
    display: block;
}
#buttons-container {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
#buttons-container button {
    margin: 5px;
    padding: 5px;
}